body {
  box-sizing: border-box;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 11px;
  color: #666;
}

/* NAV */

nav {
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  width: 980px;
  height: 36px;
  margin: auto;
  z-index: 1;
  border: 1px solid #666;
  border-radius: 3px;
  font-size: 12px;
}
nav ul {
  display: flex;
  height: 100%;
}
nav li {
  flex: 1;
  display: flex;
  text-align: center;
  border-right: 1px solid #666;
  padding-right: 1px;
  padding-left: 1px;
  background-color: #aaa;
}
nav li:first-child {
  padding-left: 0;
}
nav li:last-child {
  flex: 0 130px;
  border-right: 0;
  padding-right: 0;
}
nav li a,
nav li form {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(#777, #777 50%, #999 50%, #999);
  text-decoration: none;
}
nav li a {
  color: white;
  font-weight: bold;
}
nav li a:hover {
  background: linear-gradient(#555, #555 50%, #666 50%, #666);
}
nav li:first-child a {
  background: url("../images/apple.png") 50% 50% no-repeat, linear-gradient(#777, #777 50%, #999 50%, #999);
}
nav li:first-child a:hover {
  background: url("../images/apple.png") 50% 50% no-repeat, linear-gradient(#555, #555 50%, #666 50%, #666);
}
nav li:first-child a,
nav li:first-child a:hover {
  background-size: 18px;
}
nav li span {
  display: block;
  width: 100%;
}
nav li input {
  width: 85px;
  margin: auto;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 1px inset #444;
  background: url("../images/magnifying-glass.png") 4px 80% no-repeat, linear-gradient(#777, #777 50%, #aaa 50%, #aaa);
  background-size: 12px;
}

/* HEADER */

header {
  max-width: 1440px;
  min-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 540px 200px;
  gap: 3px;
}
header section > a {
  display: block;
  height: 100%;
}
.hero {
  position: relative;
  grid-column: 1 / -1;
  background: url("../images/your_verse_hero.jpg") 50% 100% no-repeat;
}
.hero > a {
  display: block;
  height: 100%;
}
.hero div {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin: auto;
  width: 850px;
  color: white;
  text-align: center;
  line-height: 1.5;
}
.hero h1 {
  font-size: 60px;
}
.hero h2 {
  font-size: 30px;
}
.hero div a {
  margin-top: 30px;
  color: white;
  font-size: 22px;
  text-decoration: none;
}
.hero div a:hover {
  text-decoration: underline;
}
.hero div a img {
  position: relative;
  top: 15px;
  height: 50px;
}
.iphone-s {
  background: url("../images/promo_iphone5s.jpg") no-repeat;
}
.iphone-c {
  background: url("../images/promo_iphone5c.jpg") no-repeat;
}
.explore {
  background: url("../images/promo_30_years.jpg") no-repeat;
}
.responsibility {
  background: url("../images/promo_supplier_responsibility.jpg") no-repeat;
}

/*
<header>
  <section class="hero">
    <a href="link.html"></a>
    <div>
      <h1>What will your verse be?</h1>
      <p>Everyone has something to share. See how people are using iPad in their unique ways to add to the world's story.</p>
      <p><a href="link.html">Watch the "Your Verse" film and explore the stories</a></p>
    </div>
  </section>

  <section class="iphone-s">
    ...
  <section class="iphone-c">
    ...
  <section class="explore">
    ...
  <section class="responsiblity">
    ...
</header>
/* FOOTER */

footer {
  margin: 30px auto;
  padding: 0 30px;
  width: 1100px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: baseline;
}
footer a {
  color: #08c;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer ul {
  text-align: right;
  color: #bbb;
  line-height: 3;;
}
footer li {
  display: inline;
}
footer img {
  position: relative;
  top: 3px;
}
footer .copyright span {
  color: #bbb;
}
